*{
    box-sizing: border-box;
}




body{
    font-family: Montserrat;
    font-weight: 500;
    margin: 0;
    color: #774E2E;

}

.container{
    /* border:1px solid #000; */
    max-width: 1170px;
    margin: 0 auto;

}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    /* border: 1px solid green; */

}

.menu nav a{
    text-decoration: none;
    color:#774E2E;
    margin-left: 50px;
    font-weight: 500;
}


.welcome{
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 60px;
}

.welcome-title{
    width: 575px;
}
 
h1{
    font-size: 110px;
    font-weight: 800;
    line-height: 110px;
    margin: 0;
}



h1 span{
    color:#F37F34;
}

.btn{
    background: #774E2E;
    color: #fff;
    font-size: 20px;
    border: none;
    width: 345px;
    height: 70px;
    cursor: pointer;
    margin-top: 35px;
}

h2{
    font-size: 72px;
    font-weight: 700;

    /* border: 1px solid red; */
    
}


h2 span{
    color:#F37F34;
}
.sweets{
    background:#FFF9EA;
    color: #774E2E;
    height: 911;
    /* border:1px solid #000; */
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 341px;
    
    
}

.kinds{
    /* border: 2px solid blue; */
    background: white;
    width: 370px;
    height: 462px;
    text-align: center;
    display: inline-block;
    justify-content: space-between;
        
    }

    h6{
        font-size: 72px;
        font-weight: 700;
        text-align: center;
        line-height: 110px;
    margin: 0;
    }



h6 span{
    color:#F37F34;
 
}
    .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:1170px;
        height: 611px;
    }



    

    .advice{
        background-image: url("img/333\ 1.png");
        background-repeat: no-repeat;
        background-position: center right;
        height: 722px;
        max-width: 1170px;
        margin: 0 auto;
        /* border: 2px solid aqua; */
        

    }

    .choice{
       font-size: 16px;
       width: 575px;
       height: 635px;
       
    }

  h6.size{
    font-size: 24px;
    font-weight: 600;
    
  }


  li{
    font-size: 16px;
    font-weight: 500;
  }

  footer{
    background-color: #774E2E;  
    font-family: Montserrat;
    
  }


  .finish{

    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 110px;
  }

  .logo-finish{
    margin-left: 375px;
   
    
  }

