*{
    box-sizing: border-box;
}




body{
    font-family: Montserrat;
    font-weight: 500;
    margin: 0;
    color: #774E2E;

}

.container{
    border:1px solid #000;
    max-width: 1170px;
    margin: 0 auto;

}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    border: 1px solid green;

}

.menu nav a{
    text-decoration: none;
    color:#774E2E;
    margin-left: 50px;
    font-weight: 500;
}


.welcome{
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 60px;
}

.welcome-title{
    width: 575px;
}
 
h1{
    font-size: 110px;
    font-weight: 800;
}


.btn{
    background: #774E2E;
    color: #fff;
    font-size: 20px;
    border: none;
    width: 345px;
    height: 70px;
    cursor: pointer;
    margin-top: 35px;
}

h2{

    text-align: center;
    width: 1155px;
    height: 80;
    border: 1px solid red;
}

.sweets{
    background:#FFF9EA;
    color: #774E2E;
    height: 911;
    border:1px solid #000;
    max-width: 1170px;
    margin: 0 auto;
    
}

.kinds{
    background: white;
    width: 370px;
    height: 465px;
    text-align: center;
    display: inline-block;
    justify-content: space-between;
        
    }

    h6{
        font-size: 72px;
        text-align: center;
    }
    .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .yummy{
        font-size: 16px;
       width:  575px; 
       height: 168px;
    }
    

    .advice{
        background-image: url("img/333\ 1.png");
        background-repeat: no-repeat;
        background-position: center right;
        width: 1170px;
        height: 722px;
        border:1px solid #000;
        max-width: 1170px;
        margin: 0 auto;
        

    }

    .choice{
       font-size: 16px;
       width: 575px;
       height: 168;
    }

